<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>188559852948-naht2v3n87to09muihog5r64qk07e4hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188559852948-naht2v3n87to09muihog5r64qk07e4hn</string>
	<key>API_KEY</key>
	<string>AIzaSyCklvvBdGIrp5vP0FEBr8lr4hTk9j1MZdw</string>
	<key>GCM_SENDER_ID</key>
	<string>188559852948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pen15club.Noodle</string>
	<key>PROJECT_ID</key>
	<string>noodle-bfce9</string>
	<key>STORAGE_BUCKET</key>
	<string>noodle-bfce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188559852948:ios:9d38ad8582da2328</string>
	<key>DATABASE_URL</key>
	<string>https://noodle-bfce9.firebaseio.com</string>
</dict>
</plist>